.yt-scale_0 {
    transform: scale(1);
}
.yt-scale_1 {
    transform: scale(1.10);
}
.yt-scale_2 {
    transform: scale(1.11);
}
.yt-scale_3 {
    transform: scale(1.12);
}
.yt-scale_4 {
    transform: scale(1.13);
}
.yt-scale_5 {
    transform: scale(1.14);
}
.yt-scale_6 {
    transform: scale(1.15);
}
.yt-scale_7 {
    transform: scale(1.16);
}
.yt-scale_8 {
    transform: scale(1.17);
}
.yt-scale_9 {
    transform: scale(1.18);
}
.yt-scale_10 {
    transform: scale(1.19);
}
.yt-scale_11 {
    transform: scale(1.2);
}
.yt-scale_12 {
    transform: scale(1.21);
}
.yt-scale_13 {
    transform: scale(1.22);
}
.yt-scale_14 {
    transform: scale(1.23);
}
.yt-scale_15 {
    transform: scale(1.24);
}
.yt-scale_16 {
    transform: scale(1.25);
}
.yt-scale_17 {
    transform: scale(1.26);
}
.yt-scale_18 {
    transform: scale(1.27);
}
.yt-scale_19 {
    transform: scale(1.28);
}
.yt-scale_20 {
    transform: scale(1.29);
}
.yt-scale_21 {
    transform: scale(1.30);
}
.yt-scale_22 {
    transform: scale(1.31);
}
.yt-scale_23 {
    transform: scale(1.32);
}
.yt-scale_24 {
    transform: scale(1.33);
}
.yt-scale_25 {
    transform: scale(1.34);
}
.yt-scale_26 {
    transform: scale(1.35);
}
.yt-scale_27 {
    transform: scale(1.36);
}
.yt-scale_28 {
    transform: scale(1.37);
}
.yt-scale_29 {
    transform: scale(1.38);
}
.yt-scale_30 {
    transform: scale(1.39);
}
.yt-scale_31 {
    transform: scale(1.40);
}
.yt-scale_32 {
    transform: scale(1.41);
}
.yt-scale_33 {
    transform: scale(1.42);
}
